font-family = "IntoneMono Nerd Font Mono"
font-size = 12
font-feature = -liga -calt -dlig
font-thicken
font-thicken-strength = 0
theme = "tokyonight"
macos-titlebar-style="tabs"
macos-titlebar-proxy-icon="hidden"
window-padding-balance="false"
window-padding-y=0
quit-after-last-window-closed="true"
cursor-style="bar"

mouse-shift-capture="never"
auto-update="download"
keybind = shift+enter=text:\n

keybind = super+c=copy_to_clipboard
keybind = super+v=paste_from_clipboard
keybind = super+t=unbind
keybind = super+shift+t=new_tab
clipboard-read = allow
